@font-face {
    font-family: 'Sabatons';
    src: local('Sabatons Sans Stamp'), local('Sabatons-Sans-Stamp'),
        url('../sabatons/Sabatons-Stamp.woff2') format('woff2'),
        url('../sabatons/Sabatons-Stamp.woff') format('woff'),
        url('../sabatons/Sabatons-Stamp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }